/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: sans-serif;
    background-color: black;
    padding-top: 80px;
}

/*header*/

header{
    height: 80px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.viewbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.speaker{
    background-color: grey;
    padding: 10px;
    margin-right: 10px; 
    border-radius: 5px;
    
}

.icon{
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
}

/*main*/

main{
    height: calc(100vh - 160px);
    overflow-y: auto;
    color: white;
}

/*footer*/

footer{
    height: 80px;
    color: white;
    background-color: #222222;
}

.row{
    height: 100%;
    display: flex;
    align-items: center;
}

.row-left{
    flex-basis: 25%;
    display: flex;
}

.row-center{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.row-right{
    flex-basis: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.icons{
    text-align: center;
    padding: 10px;
}

.icons-text{
    font-size: 12px;
    margin-top: 10px;
    color: white;
}


.icons-green{
    text-align: center;
    padding: 10px;
    color: green;
}

.icons-end{
    height: 80px;
    font-size: 12px;
    color: red;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}


